.header {
    background-color: white;
    color: black;
    padding: 15px 0px 15px 0px;
    position: relative;
    width: 93vw;
    float: right;
    -webkit-box-shadow: 0px 1px 16px -7px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 1px 16px -7px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 1px 16px -7px rgba(0, 0, 0, 0.65);
}

@media (max-width: 1000px) {
    .header{
        width: 100vw;
        margin-top: 50px;
    }
}

.header .container h1 {
    font-size: 20px;
    display: inline-block;
}

.header .add-product {
    position: absolute;
    color: white;
    bottom: -25px;
    right: 60px;
    font-size: 60px;
    text-align: center;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}

.header .add-product .click-to-add {
    position: relative;
    background: #2abd21;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 16px 0px rgb(42, 189, 33);
    -moz-box-shadow: 0px 0px 16px 0px rgb(42, 189, 33);
    box-shadow: 0px 0px 16px 0px rgb(42, 189, 33);
}

.header .add-product .click-to-add p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}